.venv
.env
*/logs/*
__pycache__
Resume_inputs/*
text_output/*
Processed_resumes/*
Jupyternotebooks/*
Exported_resumes/*
pdf_converter.py/*
just pdf/*
*/data/*
models
*.txt
pdf_converter.py/*
just pdf/*
