.venv
.env
*/logs/*
__pycache__
Resume_inputs/*
text_output/*
Processed_resumes/*
Jupyternotebooks/*
Exported_resumes/*
*/data/*
models
*.txt
Phase 2.1 Workflow - Job Matching/test_results/*
Adhoc analysis/industry_label_analysis/output/*
Phase 2.1 Workflow - Job Matching/data/*
Phase 2.1 Workflow - Job Matching/Job Scraping Modules/data


